interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json?short_name=SWOT_L2_HR_RiverSP_reach_2.0&revision_date%5B%5D=2024-06-30T00:00:00Z,2024-06-30T12:00:00Z&page_size=0
  response:
    body:
      string: '{"hits":110,"took":60,"items":[]}'
    headers:
      CMR-Hits:
      - '110'
      CMR-Request-Id:
      - 355b3e33-9260-48ad-922c-39adb7c8a451
      CMR-Took:
      - '61'
      Content-MD5:
      - 278f6d588a9c30b2b6f22951a9af2462
      Content-SHA1:
      - 4f5fa9cacb6558063494aa0893939443d03ae637
      Content-Type:
      - application/vnd.nasa.cmr.umm_results+json;version=1.6.6; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json?short_name=SWOT_L2_HR_RiverSP_reach_2.0&revision_date%5B%5D=2024-06-30T00:00:00Z,2024-06-30T12:00:00Z&page_size=110
  response:
    body:
      string: '{"hits":110,"took":435,"items":[{"meta":{"concept-type":"granule","concept-id":"G3138025405-POCLOUD","revision-id":1,"native-id":"SWOT_L2_HR_RiverSP_Reach_017_117_SA_20240623T051259_20240623T051310_PIC0_01_swot","collection-concept-id":"C2799438303-POCLOUD","provider-id":"POCLOUD","format":"application/vnd.nasa.cmr.umm+json","revision-date":"2024-06-30T01:33:13.037Z"},"umm":{"TemporalExtent":{"RangeDateTime":{"EndingDateTime":"2024-06-23T05:13:10.182Z","BeginningDateTime":"2024-06-23T05:12:59.390Z"}},"GranuleUR":"SWOT_L2_HR_RiverSP_Reach_017_117_SA_20240623T051259_20240623T051310_PIC0_01_swot","AdditionalAttributes":[{"Values":["60L","61L","62L","63L","64L","65L","66L","67L","68L","69L","70L","71L","72L","73L","74L","75L","76L","77L","78L","79L","80L","81L","82L","83L","84L","85L","86L","87L","88L","89L","90L","91L","92L","93L","94L","95L","96L","97L","98L","99L","100L","101L","102L","103L","104L","105L","106L","107L","108L","109L","110L","111L","112L","113L","114L","115L","116L","117L","118L","119L","120L","121L","122L","123L","124L","125L","126L","127L","128L","129L","130L","131L","132L","133L","134L","135L","136L",[...]
